*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Segoe UI";
    font-weight: 600;
}

nav > ul > li {
    float: left;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    text-align: center;
    font-size: medium;
    font-weight: 400;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
}

.logo > img {
    width: 12%;
    height: 12%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    border-bottom: 4px solid #000;
    margin-bottom: 15px;
}

header {
    top: 0px;
    padding: 10px 120px;
    height: max-content;
    position: fixed;
    width: 100%;
    background-color: #FFF !important;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    letter-spacing: 4px;
}

#search {
    background-image: url(assets/1200px-Google_Magnifying_Glass.svg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    width: max-content;
}

#home {
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 3.5em;
    font-weight: 350;
    letter-spacing: 2px;
    background-image: url(assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-size: cover;
}

section {
    padding: 0 120px;
}

.top-left {
    padding-top: 50px;
    color: #FFF;
}

.bottom-right {
    padding-bottom: 50px;
    padding-top: 222px;
    color: #FFF;
    text-align: end;
}

#about > h1, #products > h1, #contact > h1 {
    padding: 50px 0px 15px;
    font-size: 3.5em;
    font-weight: 400;
    letter-spacing: 2px;
    border-bottom: 4px solid #000;
    width: 55%;
}

.about-us {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 100%;
}

.left > span > p {
    padding: 0 0 35px 50px;
    font-size: medium;
    font-weight: 380;
    letter-spacing: 1px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 1300px;
}

.bottom {
    display: flex;
    align-items: stretch;
    padding-top: 40px;
}

.bottom > img {
    align-items: stretch;
    height: 65%;
    width: 65%;
}

.right > img {
    height: 73%;
    width: 93%;
    float: right;
    transform: scaleX(-1);
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 50px
}

.product {
    display: flex;
    flex-direction: column;
    width: 315px;
    margin-top: 75px;
}

.product > img {
    float: left;
    height: 315px;
    width: 315px;
    object-fit: cover;
    border: 1px solid #999;
}

.product-name {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-weight: 100;
    border-bottom: 4px solid #000;
    border-width: 55%;
}